.order-form {
    margin: 20px;
}

.order-form-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.order-form-content label {
    margin: 12px 0 5px 0;
}

.user-order, .user-data {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.order-form button, select, .text-input {
    height: 4vh;
}
